export default {

    dev:{
        host:"http://www.superadmin20.com/api",
        imgHost:"",
        ws:"ws://www.superadmin20.com/api",
    },
    pro:{
        host:"http://wxmp.more-v.net/api",
        imgHost:"",
        ws:"",
    }
}